
.search-bar{

    &-wrapper{
        display: flex;
        flex-direction : column;
        align-items: center;
        justify-content: space-between;
    }

    &-form-wrapper{
        width:75%;
        height : 40px;
        display: flex;
        .cancel-btn{
            border: none;
            background-color: transparent;
            font-weight: 800;
            font-size: 1rem;
            // display: none;
        }
    }
    
    
    &-form{
        position :relative;
        width : 100%;
        // top:20px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        // justify-content: space-between;
        border-radius: 25px;
        box-shadow: 0 0 8px black;
        border : 0.5px solid rgba(0, 0, 0, 0.432);
        overflow: hidden;
        height : 100%;
        transition: .4s;
        .search-icon{
            width: 25px;
            height : 25px;
            padding: 1%;
            transform: translateX(30%);
            border-radius: 50%;
            background-color: #ff0000;
        }

        div{
            // border: 3px solid blue;
            height : 100%;
            display:flex;
            flex:4;
            justify-content: center;
            padding:0;
            input{
                width:90%;
                height: 100%;
                text-align: center;
                outline : none;
                padding:0;
                border:none;

                &:first-child{
                }
                &:last-child{
                    display: none;
                   border-left : 0.2px solid rgba(0, 0, 0, 0.534);
                }
            }
        }

        input[type='submit']{
            position :absolute;
            height:55%;
            min-width:27px;
            left:4.4%;
            max-width : 20px;
            opacity:0;
        }
    }

    &-date-wrapper{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

.auto-complete-wrapper{
    // border : 2px solid red;
    min-width : 90%;
    // list-style : none;
    padding:0;
    li{
        margin-bottom: 1%;
        border-radius : 8px;
        padding : 3% 0;
        padding-left : 3%;
        border : 0.3px solid rgba(0, 0, 0, 0.76);
        list-style-position: inside;
        text-align: left;
    }
}

@media screen and(min-width : 900px){
    input.date{
        display: block !important;
    }
}