.form-step{
    display :flex;
    flex-direction :column;
    justify-content: space-evenly;

    &0{
        h2{
            font-size: 1.3rem;
            span{
                font-size: 1rem;
            }
        }
        input{
            height : 30px;
        }
        button{
            align-self: flex-end;
            margin-top : 2%;
            height : 30px;
        }
    }

    &1{
        select{
            height : 45px;
            border-radius : 8px;
            margin-top : 10%;
        }
    }

    &2{
        .counter{
            margin : 5% 0;
            display: flex;
            // border : 2px solid red;
            justify-content: center;
            &>*{
                margin : 3%;
            }
            
            span{
                width:50%;
            }
            div{
                display: flex;
                align-items : center;
                // border : 1px solid;
                width : 22%;
                justify-content: space-between;

                .action-icon{
                        fill : rgba(0, 0, 0, 0.733);
                }
                .count{
                    width : 10%;
                }
            }
        }
    }

    &-lastStep{
        padding-top: 3%;
        justify-content: space-between;
        width : 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &>*{
            // position :relative;
            // top: 0;
            margin : 2%;
        }
        div:first-child{
            width:80%;
            // border : 2px solid yellow;
            display : flex;
            justify-content: space-between;
            input{
                width : 30%;
                border-radius: 5px;
                border : 0.1px solid lightgrey;
                &::placeholder{
                    font-size : 1em;
                    color : lightgrey;
                }
            }
        }

        div + input{
            width : 88%;
            border-radius: 5px;
            border : 0.1px solid lightgrey;
            &::placeholder{
                margin-left : 10%;
                font-size : 1.2em;
                font-style: italic;
                color : lightgrey
            }
        }
        div:nth-child(3){
            display: flex;
            width:88%;
            margin-top: 3%;
            // justify-content: flex-start;
            // border:2px solid green;
            // border : 2px solid green;
            height : 30vh;
            align-items: baseline;
            input{
                border : 2px solid;
            }
            p{
                display: inline;
                font-size: .8rem;
                // border: 3px solid red;
            }
        }
        //open/close calendar
        .calendar-handler{
            width : 80%;
            padding :2%;
            margin :3% 0;
            height: 30px;
            border : 0.1px solid lightgrey;

        }
        .calendar-wrapper{
            border : 0.1px solid lightgrey;
            width : 100%;
            display: flex;
            position : relative;
            height : 56.4vh;
            // justify-content: center;
            z-index:10;
            align-items: center;
            &-disable{
                display : none;
            }
            &-active{
                display : block;
            }

            .rdrDateDisplayWrapper:first-child{
                width :100%;
                display : flex;
                align-items: center;
                justify-content: space-between;
            }
            &>*:nth-child(n){
                // height: 100%;
                width:100%;
                margin:0;

                &>*{
                    display: block;
                    // width:100%;
                }
            }
        }
        input[type='submit']{
            width : 80px;
            height : 30px;
            border : 0.05px solid black;
            border-radius: 8px;
        }
    }
    
}




