.form-step{
    display :flex;
    flex-direction :column;
    justify-content: space-evenly;

    &0{
        h2{
            font-size: 1.2rem;
            span{
                font-size: 1rem;
            }
        }

        input{
            height : 30px;
        }

        button{
            align-self: flex-end;
            margin-top : 2%;
            height : 30px;
        }
    }

    &1{
        h2{
            width: 100%;
        }
        select{
            height : 45px;
            width: 105%;
            border-radius : 8px;
            margin-top : 10%;
        }
    }

    &2{
        .counter{
            margin : 5% 0;
            display: flex;
            justify-content: center;

            &>*{
                margin : 3%;
            }
            
            span{
                width:50%;
            }

            div{
                display: flex;
                align-items : center;
                width : 22%;
                justify-content: space-between;

                .action-icon{
                    fill : rgba(0, 0, 0, 0.733);
                }
                .count{
                    width : 10%;
                }
            }
        }
    }

    &-lastStep{
        padding-top: 3%;
        justify-content: space-between;
        width : 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &>*{
            margin : 2%;
        }
        div:first-child{
            width: 85%;
            display : flex;
            justify-content: space-around;

            label{
                width: 30%;
                padding: 5%;
                font-size : 0.9em;
                border: none;
            }

            input{
                width : 30%;
                border-radius: 5px;
                border : 0.1px solid lightgrey;
                &::placeholder{
                    font-size : 1.2em;
                    color : lightgrey;
                }
            }
        }

        div + input{
            width : 88%;
            border-radius: 5px;
            border : 0.1px solid lightgrey;
            &::placeholder{
                margin-left : 10%;
                font-size : 1.2em;
                font-style: italic;
                color : lightgrey;
            }
        }

        div:nth-child(3){
            display: flex;
            width:88%;
            margin-top: 3%;
            height : 30vh;
            align-items: baseline;
           
            p{
                display: inline;
                font-size: .8rem;
            }
        }

        //open/close calendar
        .calendar-handler{
            width : 80%;
            padding :2%;
            margin :3% 0;
            height: 50px;
            border : 0.1px solid lightgrey;
        }

        .calendar-wrapper{
            border : 0.1px solid lightgrey;
            width : 100%;
            display: flex;
            position : relative;
            height : 56vh;
            z-index:10;
            align-items: center;

            &-disable{
                display : none;
            }

            &-active{
                display : block;
            }

            .rdrDateDisplayWrapper:first-child{
                width :100%;
                display : flex;
                align-items: center;
                justify-content: space-between;
            }

            &>*:nth-child(n){
                width: 100%;
                margin:0;

                &>*{
                    display: block;
                }
            }
        }

        .termOfCondition {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            text-align: justify;
            width: 90%;
            p{
                font-size: .8em;
                margin-left: 10px;
            }
        }

        input[type='submit']{
            width : 80px;
            height : 30px;
            border : 0.05px solid black;
            border-radius: 8px;
        }
    }
    
}

@media screen and (min-width: 600px) {
    .form-step {

        &-lastStep{
            
            div:first-child{
                width: 40%;
            }
    
            div + input{
                width : 60%;
            }
        }

        .termOfCondition {
            width: 60%;
            line-height: 1.1em;
            p{
                font-size: .9em;
                margin-left: 10px;
            }
        }
        
        input[type='submit']{
            width : 90px;
            height: 4vh;
            font-size: 1.05em;
            
        }
    }
}

@media screen and (min-width: 1024px) {
    .form-step {

        &0{
            h2{
                font-size: 1.2rem;
            }
    
            input{
                height : 40px;
                font-size: 1.1em;
            }
    
            button{
                height : 35px;
                font-size: 1.02em;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    
        &1{
            h2{
                font-size: 1.2em;
            }
            select{
                height : 50px;
                font-size: 1em;
            }
        }

        &-lastStep{
            
            div:first-child{
                width: 40%;
                font-size: 1.3em;
            }
    
            div + input{
                width : 50%;
            }
        }

        .termOfCondition {
            width: 50%;
            line-height: 1.2em;

            p{
                font-size: 1.1em;
            }
        }
    }
}


