header {
    height: 100vh;
    position:relative;
}

.options-nav {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 10vh;
    padding: 0;
    position: fixed;
    width: 100%;
    background: white;
    border-top: 0.5px solid lightgray;
    z-index: 2;
    top : 91%;
    
    a{
        display: flex;
        height : 80%;
        // border : 2px solid red;
        justify-content:center;
        align-items: center;
        position : relative;
        &:first-child {
            
            & .option-icon{
                     fill: rgb(255, 60, 0);
                     stroke: none;
                 }
         }
        &::before{
            content: "Explore";
            position : absolute;
            top : 75%;
            left : 12%;
            transform: translateX(-50%);
            width:100%;
            color:black;
            font-size: 0.8em;
        }
        &:nth-child(2)::before{
                content: "Favorite";
        }
        &:nth-child(3)::before{
            content: "Login";
            left : 35%;
        }
        &:nth-child(4)::before{
            content: "Message";
        }
        &:nth-child(5)::before{
            content: "Voyage";
        }
        &:last-child::before{
            content : "Profil";
            left : 35%;
        }
    }    
        
    .option-icon {
        max-width: 30px;
        // height: 30px;
        // width: 30px;
        stroke: rgba(0, 0, 0, 0.596);
        fill: white;
    }
}

