.places-wrapper{
    display: grid;
    grid-template-rows: 30px 300px 30px;
    max-width: 100%;
    overflow-x: scroll;
    grid-column-gap: 30px;
    margin : 2% 0;   

    & > *{
        grid-row: 2;
        
    }
}